alabaster==0.7.16 ; python_version >= "3.9" and python_version < "3.12"
asciitree==0.3.3 ; python_version >= "3.9" and python_version < "3.12"
asttokens==2.4.1 ; python_version >= "3.9" and python_version < "3.12"
attrs==23.2.0 ; python_version >= "3.9" and python_version < "3.12"
babel==2.14.0 ; python_version >= "3.9" and python_version < "3.12"
bleach==6.1.0 ; python_version >= "3.9" and python_version < "3.12"
blosc2==2.5.1 ; python_version >= "3.9" and python_version < "3.12"
bokeh==3.4.0 ; python_version >= "3.9" and python_version < "3.12"
boto3==1.34.75 ; python_version >= "3.9" and python_version < "3.12"
botocore==1.34.75 ; python_version >= "3.9" and python_version < "3.12"
certifi==2024.2.2 ; python_version >= "3.9" and python_version < "3.12"
charset-normalizer==3.3.2 ; python_version >= "3.9" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "3.12" and (platform_system == "Windows" or sys_platform == "win32")
comm==0.2.2 ; python_version >= "3.9" and python_version < "3.12"
contourpy==1.2.0 ; python_version >= "3.9" and python_version < "3.12"
cycler==0.12.1 ; python_version >= "3.9" and python_version < "3.12"
decorator==5.1.1 ; python_version >= "3.9" and python_version < "3.12"
dill==0.3.5.1 ; python_version >= "3.9" and python_version < "3.12"
dill[graph]==0.3.5.1 ; python_version >= "3.9" and python_version < "3.12"
docutils==0.20.1 ; python_version >= "3.9" and python_version < "3.12"
et-xmlfile==1.1.0 ; python_version >= "3.9" and python_version < "3.12"
exceptiongroup==1.2.0 ; python_version >= "3.9" and python_version < "3.11"
executing==2.0.1 ; python_version >= "3.9" and python_version < "3.12"
fasteners==0.19 ; python_version >= "3.9" and python_version < "3.12" and sys_platform != "emscripten"
flexitext @ git+https://github.com/CommanderPho/flexitext.git@8cd274c8cb97fe6f32ca56b3c792ae97eb4cc521 ; python_version >= "3.9" and python_version < "3.12"
fonttools==4.50.0 ; python_version >= "3.9" and python_version < "3.12"
ftfy==6.2.0 ; python_version >= "3.9" and python_version < "3.12"
greenlet==3.0.3 ; python_version >= "3.9" and python_version < "3.12" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
h5py==3.10.0 ; python_version >= "3.9" and python_version < "3.12"
hdf5storage==0.1.19 ; python_version >= "3.9" and python_version < "3.12"
hdmf==3.13.0 ; python_version >= "3.9" and python_version < "3.12"
hmmlearn==0.2.8 ; python_version >= "3.9" and python_version < "3.12"
idna==3.6 ; python_version >= "3.9" and python_version < "3.12"
imagesize==1.4.1 ; python_version >= "3.9" and python_version < "3.12"
importlib-metadata==7.1.0 ; python_version >= "3.9" and python_version < "3.10"
importlib-resources==6.4.0 ; python_version >= "3.9" and python_version < "3.10"
indexed==1.3.0 ; python_version >= "3.9" and python_version < "3.12"
ipython==8.18.1 ; python_version >= "3.9" and python_version < "3.12"
ipywidgets==8.1.2 ; python_version >= "3.9" and python_version < "3.12"
jedi==0.19.1 ; python_version >= "3.9" and python_version < "3.12"
jinja2==3.1.3 ; python_version >= "3.9" and python_version < "3.12"
jmespath==1.0.1 ; python_version >= "3.9" and python_version < "3.12"
joblib==1.3.2 ; python_version >= "3.9" and python_version < "3.12"
jsonschema-specifications==2023.12.1 ; python_version >= "3.9" and python_version < "3.12"
jsonschema==4.21.1 ; python_version >= "3.9" and python_version < "3.12"
jupyter-bokeh==3.0.7 ; python_version >= "3.9" and python_version < "3.12"
jupyterlab-widgets==3.0.10 ; python_version >= "3.9" and python_version < "3.12"
kiwisolver==1.4.5 ; python_version >= "3.9" and python_version < "3.12"
klepto==0.2.2 ; python_version >= "3.9" and python_version < "3.12"
linkify-it-py==2.0.3 ; python_version >= "3.9" and python_version < "3.12"
llvmlite==0.39.1 ; python_version >= "3.9" and python_version < "3.12"
mailchecker==5.0.9 ; python_version >= "3.9" and python_version < "3.12"
markdown-it-py==3.0.0 ; python_version >= "3.9" and python_version < "3.12"
markdown==3.6 ; python_version >= "3.9" and python_version < "3.12"
markupsafe==2.1.5 ; python_version >= "3.9" and python_version < "3.12"
matplotlib-inline==0.1.6 ; python_version >= "3.9" and python_version < "3.12"
matplotlib==3.8.3 ; python_version >= "3.9" and python_version < "3.12"
mdit-py-plugins==0.4.0 ; python_version >= "3.9" and python_version < "3.12"
mdurl==0.1.2 ; python_version >= "3.9" and python_version < "3.12"
msgpack==1.0.8 ; python_version >= "3.9" and python_version < "3.12"
ndindex==1.8 ; python_version >= "3.9" and python_version < "3.12"
numba==0.56.4 ; python_version >= "3.9" and python_version < "3.12"
numcodecs==0.12.1 ; python_version >= "3.9" and python_version < "3.12"
numexpr==2.10.0 ; python_version >= "3.9" and python_version < "3.12"
numpy==1.23.5 ; python_version >= "3.9" and python_version < "3.12"
objgraph==3.6.1 ; python_version >= "3.9" and python_version < "3.12"
openpyxl==3.1.2 ; python_version >= "3.9" and python_version < "3.12"
packaging==24.0 ; python_version >= "3.9" and python_version < "3.12"
pandas-flavor==0.6.0 ; python_version >= "3.9" and python_version < "3.12"
pandas==1.5.3 ; python_version >= "3.9" and python_version < "3.12"
panel==1.4.0 ; python_version >= "3.9" and python_version < "3.12"
param==2.1.0 ; python_version >= "3.9" and python_version < "3.12"
params==0.9.0 ; python_version >= "3.9" and python_version < "3.12"
parso==0.8.3 ; python_version >= "3.9" and python_version < "3.12"
patsy==0.5.6 ; python_version >= "3.9" and python_version < "3.12"
pexpect==4.9.0 ; python_version >= "3.9" and python_version < "3.12" and sys_platform != "win32"
phonenumbers==8.13.33 ; python_version >= "3.9" and python_version < "3.12"
pillow==10.3.0 ; python_version >= "3.9" and python_version < "3.12"
pingouin==0.5.4 ; python_version >= "3.9" and python_version < "3.12"
portion @ git+https://github.com/CommanderPho/portion.git@d2497756daa215d4897b4cc0223b6fd5db8abcce ; python_version >= "3.9" and python_version < "3.12"
pox==0.3.4 ; python_version >= "3.9" and python_version < "3.12"
prompt-toolkit==3.0.43 ; python_version >= "3.9" and python_version < "3.12"
ptyprocess==0.7.0 ; python_version >= "3.9" and python_version < "3.12" and sys_platform != "win32"
pure-eval==0.2.2 ; python_version >= "3.9" and python_version < "3.12"
py-cpuinfo==9.0.0 ; python_version >= "3.9" and python_version < "3.12"
pygments==2.17.2 ; python_version >= "3.9" and python_version < "3.12"
pynapple==0.3.6 ; python_version >= "3.9" and python_version < "3.12"
pynwb==2.6.0 ; python_version >= "3.9" and python_version < "3.12"
pyparsing==3.1.2 ; python_version >= "3.9" and python_version < "3.12"
python-benedict==0.28.3 ; python_version >= "3.9" and python_version < "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.9" and python_version < "3.12"
python-fsutil==0.14.1 ; python_version >= "3.9" and python_version < "3.12"
python-slugify==7.0.0 ; python_version >= "3.9" and python_version < "3.12"
pytz==2024.1 ; python_version >= "3.9" and python_version < "3.12"
pyviz-comms==3.0.2 ; python_version >= "3.9" and python_version < "3.12"
pyyaml==6.0.1 ; python_version >= "3.9" and python_version < "3.12"
qtpy==2.4.1 ; python_version >= "3.9" and python_version < "3.12"
referencing==0.34.0 ; python_version >= "3.9" and python_version < "3.12"
requests==2.31.0 ; python_version >= "3.9" and python_version < "3.12"
rich==13.7.1 ; python_version >= "3.9" and python_version < "3.12"
rpds-py==0.18.0 ; python_version >= "3.9" and python_version < "3.12"
ruamel-yaml-clib==0.2.8 ; platform_python_implementation == "CPython" and python_version < "3.12" and python_version >= "3.9"
ruamel-yaml==0.18.6 ; python_version >= "3.9" and python_version < "3.12"
s3transfer==0.10.1 ; python_version >= "3.9" and python_version < "3.12"
scikit-learn==1.4.1.post1 ; python_version >= "3.9" and python_version < "3.12"
scikit-posthocs==0.7.0 ; python_version >= "3.9" and python_version < "3.12"
scipy==1.12.0 ; python_version >= "3.9" and python_version < "3.12"
seaborn==0.12.2 ; python_version >= "3.9" and python_version < "3.12"
setuptools==69.2.0 ; python_version >= "3.9" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.9" and python_version < "3.12"
snowballstemmer==2.2.0 ; python_version >= "3.9" and python_version < "3.12"
sortedcontainers==2.4.0 ; python_version >= "3.9" and python_version < "3.12"
sphinx-autodoc-typehints==2.0.0 ; python_version >= "3.9" and python_version < "3.12"
sphinx==7.2.6 ; python_version >= "3.9" and python_version < "3.12"
sphinxcontrib-applehelp==1.0.8 ; python_version >= "3.9" and python_version < "3.12"
sphinxcontrib-devhelp==1.0.6 ; python_version >= "3.9" and python_version < "3.12"
sphinxcontrib-htmlhelp==2.0.5 ; python_version >= "3.9" and python_version < "3.12"
sphinxcontrib-jsmath==1.0.1 ; python_version >= "3.9" and python_version < "3.12"
sphinxcontrib-qthelp==1.0.7 ; python_version >= "3.9" and python_version < "3.12"
sphinxcontrib-serializinghtml==1.1.10 ; python_version >= "3.9" and python_version < "3.12"
sqlalchemy==2.0.29 ; python_version >= "3.9" and python_version < "3.12"
stack-data==0.6.3 ; python_version >= "3.9" and python_version < "3.12"
statsmodels==0.14.1 ; python_version >= "3.9" and python_version < "3.12"
tables==3.9.2 ; python_version >= "3.9" and python_version < "3.12"
tabulate==0.9.0 ; python_version >= "3.9" and python_version < "3.12"
text-unidecode==1.3 ; python_version >= "3.9" and python_version < "3.12"
threadpoolctl==3.4.0 ; python_version >= "3.9" and python_version < "3.12"
tifffile==2024.2.12 ; python_version >= "3.9" and python_version < "3.12"
toml==0.10.2 ; python_version >= "3.9" and python_version < "3.12"
tornado==6.4 ; python_version >= "3.9" and python_version < "3.12"
tqdm==4.66.2 ; python_version >= "3.9" and python_version < "3.12"
traitlets==5.14.2 ; python_version >= "3.9" and python_version < "3.12"
typing-extensions==4.10.0 ; python_version >= "3.9" and python_version < "3.12"
uc-micro-py==1.0.3 ; python_version >= "3.9" and python_version < "3.12"
urllib3==1.26.18 ; python_version >= "3.9" and python_version < "3.12"
vitables==3.0.3 ; python_version >= "3.9" and python_version < "3.12"
wcwidth==0.2.13 ; python_version >= "3.9" and python_version < "3.12"
webencodings==0.5.1 ; python_version >= "3.9" and python_version < "3.12"
widgetsnbextension==4.0.10 ; python_version >= "3.9" and python_version < "3.12"
xarray==2024.3.0 ; python_version >= "3.9" and python_version < "3.12"
xlrd==2.0.1 ; python_version >= "3.9" and python_version < "3.12"
xmltodict==0.13.0 ; python_version >= "3.9" and python_version < "3.12"
xyzservices==2023.10.1 ; python_version >= "3.9" and python_version < "3.12"
zarr==2.17.1 ; python_version >= "3.9" and python_version < "3.12"
zipp==3.18.1 ; python_version >= "3.9" and python_version < "3.10"
